:root {
    --darkGreen: rgb(0, 85, 0);
    --lightGreen: rgb(28, 136, 28);
    --dark: #313131;
    --mark: rgba(255, 255, 255, 0.63);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url(green-felt-background-2.jpg);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'player2 player2 player2'
    'pile2 hand2 hand2'
    'table table table'
    'hand1 hand1 pile1'
    'player1 player1 player1'
    ;
    height: 100vh;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#hand2, #pile2, #table, #hand1, #pile1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImg {
    height: 164px;
    width: 105px;
    margin: 0 3px;
}

#table .cardImg {
    margin: 0 30px;
}

.cardImgCurrent {
    -webkit-user-drag: auto;  
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-zoom: none;
    }

.is-dragging {
    cursor: move;
    opacity: 0.1;
}

#player1 {
    height: 5vh;
    grid-area: player1;
}

#player2 {
    height: 5vh;
    grid-area: player2;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 0px 0 14px 1px black;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.616);
}

#pile1 {
    /* background-color: var(--darkGreen); */
    border-top: solid 5px var(--mark);
    grid-area: pile1;
}

#hand1 {
    height: 30vh;
    /* background-color: var(--lightGreen); */
    /* border-top: solid 5px var(--mark); */
    grid-area: hand1;
}

#table {
    height: 30vh;
    /* background-color: var(--lightGreen); */
    grid-area: table;
}

#hand2 {
    height: 30vh;
    /* background-color: var(--lightGreen); */
    /* border-bottom: solid 5px var(--mark); */
    grid-area: hand2;
}

#pile2 {
    /* background-color: var(--darkGreen); */
    border-bottom: solid 5px var(--mark);
    grid-area: pile2;
}